.header{
  width: 100%;
  padding: .125rem .3125rem;

  background-color: var(--primary-color);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.h2{
  width: 100%;
  padding: .0625rem .0625rem;
  color: var(--text-color-light);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

@media screen and (max-width: 768px){
  .header{
    justify-content: center;
  }
  .h2{
    justify-content: center;
  }
}
